 /*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
 /*Global style*/

 body {
   margin: 0;
   font-size: 16p;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   overflow: hidden;
 }

 .form-control {
   font-family: 'Montserrat', sans-serif;
 }

 * {
   margin: 0;
   padding: 0;
   outline: none;
 }

 a {
   text-decoration: none !important;
 }
 

 .logo-circle {
   width: 26px;
   height: 26px;
   display: inline-block;
   border: 4px solid #fff;
   border-radius: 50%;
   margin-bottom: -2px;
   position: relative;
 }

 .logo-circle::before {
   content: "";
   background-color: #fff;
   position: absolute;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   left: 50%;
   top: 50%;
   margin-left: -4px;
   margin-top: -4px;
 }

 .mybtn2, .mybtn1 {
   font-size: 16px;
   font-weight: 600;
   text-transform: uppercase;
   border-radius: 50px;
   padding: 12px 36px;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   z-index: 1;
 }

 .mybtn1 {
   background-color: #fff;
 }

 .mybtn2 {
   color: #fff;
 }

 .mybtn2:hover {
   color: #fff;
 }

 .mybtn2:focus, .mybtn1:focus {
   box-shadow: none;
 }

 .mybtn2::before, .mybtn1::before {
   content: "";
   left: 0;
   top: 0;
   position: absolute;
   width: 0;
   height: 100%;
   background-color: rgba(0, 0, 0, .1);
   z-index: -1;
   transition: all .3s ease;
 }

 .mybtn2:hover::before, .mybtn1:hover::before {
   width: 100%;
 }

 .section-title {
   margin-bottom: 60px;
   text-align: center;
 }

 .section-title .title {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   display: inline-block;
   text-transform: uppercase;
   margin: 0 0 15px;
   position: relative;
   padding: 5px 10px;
   z-index: 1;
 }

 .section-title .title::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: black;
   border-radius: 5px;
   z-index: -1;
   opacity: .1;
 }

 .section-title .subtitle {
   font-size: 30px;
   line-height: 38px;
   font-weight: 700;
   margin-bottom: 0;
 }

 .bg-light {
   background-color: #f5f5ff;
 }

 /* preloader */

 .preloader {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 999999999;
   height: 100%;
   background-color: #d35400;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .spinner {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


 /* Header Section */

 .header {
   border-bottom: 1px solid rgba(255, 255, 255, .2);
 }

 .header .navbar {
   padding: 0;
 }

 .header .navbar.navbar-light .navbar-brand {
   color: #000;
   font-weight: 700;
   font-size: 30px;
   text-transform: uppercase;
 }

 .header .navbar #navbarNavDropdown .nav-item .nav-link {
   color: #000;
   font-size: 16px;
   text-transform: capitalize;
   font-weight: 600;
   padding: 20px 15px;
   line-height: 26px;
   opacity: .6;
 }

 .header .navbar #navbarNavDropdown .nav-item .nav-link.active {
   opacity: 1;
 }

 /* Home Section */

 .home-section {
   padding: 250px 0 200px;
   position: relative;
   z-index: 1;
   overflow: hidden;
 }

 .home-section::before {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: url(../img/shape-bg.png);
   height: 112px;
   background-position: bottom;
   background-size: cover;
   background-repeat: no-repeat;
 }

 .home-section .home-content h1 {
   font-size: 55px;
   color: #fff;
   font-weight: 700;
   line-height: 60px;
   margin: 0;
 }

 .home-section .home-content p {
   color: #fff;
   margin-top: 20px;
   margin-bottom: 40px;
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
 }

 .home-section .home-img img {
   max-width: 400px;
   width: 100%;
   position: absolute;
   left: 140px;
   top: -50px;
   animation: productani01 5s linear infinite;
 }

 @keyframes productani01 {
   0%, 100% {
     transform: translateY(15px);
   }
   50% {
     transform: translateY(-15px);
   }
 }

 .home-section .bg-shapes div {
   position: absolute;
   opacity: 0.08;
 }

 .home-section .bg-shapes div:nth-child(1) {
   height: 100px;
   width: 100px;
   top: 20%;
   left: 20%;
   background-color: #fff;
   border-radius: 50%;
   animation: shapeani01 5s linear infinite;
 }

 .home-section .bg-shapes div:nth-child(2) {
   height: 80px;
   width: 80px;
   top: 60%;
   left: 60%;
   background-color: transparent;
   border: 5px solid #fff;
   border-bottom: 5px solid transparent;
   border-radius: 50%;
   animation: shapeani02 7s linear infinite;
 }

 .home-section .bg-shapes div:nth-child(3) {
   height: 60px;
   width: 60px;
   top: 10%;
   left: 90%;
   background-color: transparent;
   border: 5px solid #fff;
   border-bottom: 5px solid transparent;
   border-left: 5px solid transparent;
   border-radius: 50%;
   animation: shapeani02 7s linear infinite;
 }

 .home-section .bg-shapes div:nth-child(4) {
   height: 200px;
   width: 200px;
   top: 40%;
   left: calc(100% - 100px);
   background-color: #fff;
   border-radius: 50%;
   animation: shapeani03 7s linear infinite;
 }

 .home-section .bg-shapes div:nth-child(5) {
   height: 100px;
   width: 100px;
   top: 40%;
   left: calc(0% - 50px);
   background-color: transparent;
   border: 5px solid #fff;
   animation: shapeani02 7s linear infinite;
 }

 @keyframes shapeani01 {
   0%, 100% {
     transform: translateX(0px);
   }
   50% {
     transform: translateX(50px);
   }
 }

 @keyframes shapeani02 {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

 @keyframes shapeani03 {
   0%, 100% {
     transform: scale(.5);
   }
   50% {
     transform: scale(1);
   }
 }

 /* About Section */

 .about-section {
   padding: 80px 0;
 }

 .about-section .about-img img {
   max-width: 350px;
   width: 100%;
 }

 .about-section .section-title {
   text-align: left;
   margin-bottom: 30px;
 }

 .about-section .about-content p {
   font-size: 16px;
   line-height: 26px;
   color: #555555;
   margin: 0;
   font-weight: 400;
 }

 .about-section .about-content ul {
   margin: 30px 0 0;
 }

 .about-section .about-content ul li {
   font-size: 16px;
   line-height: 26px;
   margin-bottom: 15px;
   color: #555555;
   font-weight: 400;
   position: relative;
   padding-left: 36px;
 }

 .about-section .about-content ul li i {
   width: 25px;
   height: 25px;
   display: inline-block;
   text-align: center;
   font-size: 16px;
   line-height: 26px;
   position: absolute;
   left: 0;
 }

 /* Features Section */

 .features-section {
   padding: 80px 0 50px;
   background-color: #f5f5ff;
 }

 .features-section .features-item {
   box-shadow: 0 0 20px #d9d9d9;
   padding: 40px 30px;
   margin-bottom: 30px;
   background-color: #ffff;
   border-radius: 5px;
   text-align: center;
   transition: all .5s ease;
 }

 .features-section .features-item:hover {
   transform: translateY(-10px);
 }

 .features-section .features-item .icon {
   margin-bottom: 25px;
 }

 .features-section .features-item .icon i {
   font-size: 40px;
   display: inline-block;
   transition: all .5s ease;
 }

 .features-section .features-item h3 {
   font-size: 22px;
   font-weight: 600;
   color: #222;
   line-height: 30px;
   margin: 0 0 15px;
   transition: all .5s ease;
 }

 .features-section .features-item p {
   font-size: 16px;
   line-height: 26px;
   color: #555555;
   transition: all .5s ease;
   font-weight: 400;
 }

 .features-section .features-item:hover .icon i, .features-section .features-item:hover h3, .features-section .features-item:hover p {
   color: #fff;
 }

 /* Products Section */

 .product-section {
   padding: 80px 0 80px;
   background-color: #fff;
 }

 .product-section .products-item {
   box-shadow: 0 0 15px #dddde3;
   margin: 15px 0;
 }

 .product-section .product-img {
   border-bottom: 1px solid #eeee;
   position: relative;
 }

 .product-section .product-img .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 0;
   z-index: 1;
   transition: all .5s ease;
 }

 .product-section .products-item:hover .product-img .overlay {
   opacity: 1;
 }

 .product-section .product-img .overlay .btn {
   margin: auto;
   transform: translateY(100px);
   transition: all .5s ease;
 }

 .product-section .products-item:hover .product-img .overlay .btn {
   transform: translateY(0px);
 }

 .product-section .product-img img {
   display: block;
   width: 100%;
 }

 .product-section .product-contatent {
   padding: 0 30px;
   text-align: center;
 }

 .product-section .product-contatent .product_price {
   margin: 15px 0 5px;
 }

 .product-section .product-contatent .product_price .new-price {
   font-size: 18px;
   font-weight: 700;
   display: inline-block;
   margin-right: 5px;
 }

 .product-section .product-contatent .product_price .old-price {
   font-size: 18px;
   display: inline-block;
   font-weight: 400;
   color: #dddde3;
 }

 .product-section .product-contatent .product-name {
   font-size: 16px;
   color: #222;
   font-weight: 600;
   line-height: 26px;
   margin: 0;
   padding-bottom: 20px;
 }

 .product-section .owl-carousel .owl-nav {
   text-align: center;
   margin-top: 40px;
 }

 .product-section .owl-carousel .owl-nav button.owl-next, .product-section .owl-carousel .owl-nav button.owl-prev {
   height: 40px;
   width: 40px;
   display: inline-block;
   margin: 0 10px;
   border-radius: 50%;
   color: #fff;
   overflow: hidden;
 }

 .product-section .owl-carousel .owl-nav button.owl-next:focus, .product-section .owl-carousel .owl-nav button.owl-prev:focus {
   outline: none;
 }

 .product-section .owl-carousel .owl-nav button.owl-next span, .product-section .owl-carousel .owl-nav button.owl-prev span {
   font-size: 40px;
   display: inline-block;
   margin-top: -13px;
   font-weight: 500;
 }

 /* Testimonial Section */

 .testimonial-section {
   padding: 80px 0 80px;
   background-image: url(../img/bg-01.jpg);
   background-position: center;
   background-attachment: fixed;
   position: relative;
   z-index: 1;
 }

 .testimonial-section::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: .85;
 }

 .testimonial-section .section-title .title, .testimonial-section .section-title .subtitle {
   color: #fff;
 }

 .testimonial-section .section-title .title::before {
   background-color: #fff;
 }

 .testimonial-section .testi-item {
   background-color: #fff;
   padding: 30px;
   border-radius: 5px;
 }

 .testimonial-section .testi-comment p {
   font-size: 16px;
   line-height: 26px;
   color: #555;
   font-weight: 400;
   margin: 0 0 10px;
   font-style: italic;
 }

 .testimonial-section .testi-comment p .fa-quote-left {
   margin-right: 5px;
 }

 .testimonial-section .testi-comment p .fa-quote-right {
   margin-left: 5px;
 }

 .testimonial-section .testi-comment .stars {
   margin: 0 0 20px;
 }

 .testimonial-section .testi-comment .stars li {
   display: inline-block;
   margin: 0 1px;
 }

 .testimonial-section .testi-comment .stars li i {
   font-size: 13px;
   color: #ff9800;
 }

 .testimonial-section .client-info {
   position: relative;
   padding-left: 80px;
   padding-top: 5px;
   min-height: 60px;
 }

 .testimonial-section .client-info img {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border: 2px solid transparent;
   position: absolute;
   top: 0;
   left: 0;
 }

 .testimonial-section .client-info h5 {
   font-size: 16px;
   font-weight: 600;
   margin: 0 0 2px;
   line-height: 26px;
 }

 .testimonial-section .client-info p {
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   margin: 0;
 }

 .testimonial-section .owl-carousel .owl-nav {
   text-align: center;
   margin-top: 40px;
 }

 .testimonial-section .owl-carousel .owl-nav button.owl-next, .testimonial-section .owl-carousel .owl-nav button.owl-prev {
   height: 40px;
   width: 40px;
   display: inline-block;
   margin: 0 10px;
   border-radius: 50%;
   color: #fff;
   overflow: hidden;
   background-color: #fff;
   transition: all .5s ease;
 }

 .testimonial-section .owl-carousel .owl-nav button.owl-next:hover, .testimonial-section .owl-carousel .owl-nav button.owl-prev:hover {
   color: #fff;
 }

 .testimonial-section .owl-carousel .owl-nav button.owl-next:focus, .testimonial-section .owl-carousel .owl-nav button.owl-prev:focus {
   outline: none;
 }

 .testimonial-section .owl-carousel .owl-nav button.owl-next span, .testimonial-section .owl-carousel .owl-nav button.owl-prev span {
   font-size: 40px;
   display: inline-block;
   margin-top: -13px;
   font-weight: 500;
 }

 /* Faq-section */

 .faq-section {
   padding: 80px 0 40px;
 }

 .faq-section .faq-item {
   margin-bottom: 40px;
 }

 .faq-section .faq-item h4 {
   font-size: 18px;
   font-weight: 600;
   line-height: 28px;
   color: #222;
   margin: 0 0 10px;
 }

 .faq-section .faq-item p {
   font-size: 16px;
   font-weight: 400;
   color: #555555;
 }

 .faq-section .support-text {
   margin: 15px 0 0;
   font-size: 16px;
   line-height: 26px;
   font-weight: 600;
   color: #222;
 }

 /* newsletter-section */

 .newsletter-section {
   padding: 80px 0 80px;
   background-image: url(../img/bg-02.jpg);
   background-position: center;
   background-attachment: fixed;
   position: relative;
   z-index: 1;
 }

 .newsletter-section::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   opacity: .85;
   z-index: -1;
 }

 .newsletter-section .section-title .title, .newsletter-section .section-title .subtitle {
   color: #fff;
 }

 .newsletter-section .section-title .title::before {
   background-color: #fff;
 }

 .newsletter-section .newsletter-form .form-group {
   margin: 0;
 }

 .newsletter-section .newsletter-form {
   position: relative;
 }

 .newsletter-section .newsletter-form .form-control {
   height: 60px;
   border-radius: 60px;
   padding: 0 185px 0 30px;
   outline: none;
   border: none;
   color: #555555;
   font-weight: 400;
 }

 .newsletter-section .newsletter-form .form-control:focus {
   box-shadow: none;
 }

 .newsletter-section .newsletter-form .btn {
   position: absolute;
   height: 48px;
   top: 6px;
   right: 6px;
 }

 /* Contact Section */

 .contact-section {
   background-color: #fff;
   padding: 80px 0 80px;
 }

 .contact-section .contact-form .form-group {
   margin-bottom: 20px;
 }

 .contact-section .contact-form .form-control {
   height: 50px;
   color: #555555;
   border: none;
   border-bottom: 2px solid #d9d9d9;
   border-radius: 0;
   transition: all .5s ease;
 }

 .contact-section .contact-form textarea.form-control {
   height: 120px;
 }

 .contact-section .contact-form .form-control:focus {
   box-shadow: none;
 }

 .contact-section .contact-item {
   position: relative;
   padding-left: 65px;
   margin-bottom: 35px;
 }

 .contact-section .contact-item .icon {
   height: 50px;
   width: 50px;
   background-color: #f5f5ff;
   border-radius: 50%;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
 }

 .contact-section .contact-item .icon i {
   line-height: 50px;
   font-size: 20px;
 }

 .contact-section .contact-item h5 {
   font-size: 16px;
   font-weight: 600;
   line-height: 26px;
   margin: 0 0 2px;
 }

 .contact-section .contact-item p {
   color: #555;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   margin: 0;
 }

 /* Footer Section */

 .footer {
   padding: 80px 0 0;
   text-align: center;
 }

 .footer .footer-logo a {
   font-size: 30px;
   line-height: 60px;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
   display: block;
   margin-bottom: 15px;
 }

 .footer .footer-text p {
   color: #eeee;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   margin: 0 0 25px;
 }

 .footer-socila-link {
   margin-bottom: 80px;
 }

 .footer .footer-socila-link a {
   display: inline-block;
   text-align: center;
   margin: 0 4px;
 }

 .footer .footer-socila-link a i {
   width: 40px;
   height: 40px;
   display: block;
   border: 1px solid #fff;
   color: #ffff;
   border-radius: 50%;
   line-height: 38px;
   transition: all .3s ease;
 }

 .footer .footer-socila-link a:hover i {
   background-color: #fff;
 }

 .footer .copyright {
   border-top: 1px solid rgba(255, 255, 255, .2);
   padding: 20px 15px;
   background-color: #111;
 }

 .footer .copyright p {
   margin: 0;
   color: #eeee;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
 }

 /* arabic font Classes */

.arab-font{
  font-family: 'alsarout';
}
.arab-min-font{
font-family: 'hanimation';
}
.arab-main{
font-family: 'kawkab';
}

.contact-section a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.copyright a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}